/*
 * Component: Info Box
 * -------------------
 */
.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box small {
    font-size: 14px;
}

.info-box .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
}

.info-box .progress,
.info-box .progress .progress-bar {
    border-radius: 0;
}

.info-box .progress .progress-bar {
    background: #fff;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
}

.info-box-icon > img {
    max-width: 100%;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.progress-description,
.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box-text {
    text-transform: uppercase;
}

.info-box-more {
    display: block;
}

.progress-description {
    margin: 0;
}

.certificate-order .info-box-icon {
    background: rgba(0, 0, 0, 0.1);
}

.filter li {
    border: none;
    text-align: left;
    border-bottom: 1px solid #f4f4f4;
    border-left: 3px solid transparent;
    color: #444;
    margin: 0;
    position: relative;
    display: block;
    background-color: transparent;
    padding: 10px 15px;
    width: 100%;
    outline: none;
}

.filter li b {

}

.filter li span {
    color: #777;
    display: block;
    font-size: smaller;
    padding-top: 1rem;
}

.filter li:hover {
    color: #444;
    background: #f7f7f7;
    cursor: pointer;
}

.info-box-content.header {
    font-weight: bold;
}

.info-box-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.info-box-content .sq {
    flex: 2 1 33%;
}

.btn.disabled.cert-price-btn {
    opacity: 1;
}

.ca-sort-link:after {
    font: normal normal normal 11px/1 FontAwesome;
    content: " \f0dc";
}

.ca-sort-link[data-direction=asc]:after {
    font: normal normal normal 11px/1 FontAwesome;
    content: " \f160";
}

.ca-sort-link[data-direction=desc]:after {
    font: normal normal normal 11px/1 FontAwesome;
    content: " \f161";
}
