.certificate-order .info-box-icon {
    background: rgba(0, 0, 0, 0.1);
}

.type-buttons, .btn-group.filter {
    padding-left: 0;
    margin-bottom: 0;
    display: block;
}

.type-buttons button {
    border: none;
    text-align: left;
    border-bottom: 1px solid #f4f4f4;
    border-left: 3px solid transparent;
    color: #444;
    margin: 0;
    position: relative;
    display: block;
    background-color: transparent;
    padding: 10px 15px;
    width: 100%;
    outline: none;
}

.type-buttons button:hover {
    color: #444;
    background: #f7f7f7;
}

.type-buttons button:active,
.type-buttons button.active,
.type-buttons button.is-checked {
    background: transparent;
    color: #444;
    border-top: 0;
    border-left-color: #3c8dbc;
    outline: none;
}

.type-buttons button b {

}

.type-buttons button span {
    color: #777;
    display: block;
    font-size: smaller;
    padding-top: .5rem;
}

.info-box-content.header {
    font-weight: bold;
}
.info-box-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.info-box-content .sq {
    flex: 2 1 33%;
}