.certificate-order .info-box-icon {
    background: rgba(0, 0, 0, 0.1);
}

.filter li {
    border: none;
    text-align: left;
    border-bottom: 1px solid #f4f4f4;
    border-left: 3px solid transparent;
    color: #444;
    margin: 0;
    position: relative;
    display: block;
    background-color: transparent;
    padding: 10px 15px;
    width: 100%;
    outline: none;
}

.filter li b {

}

.filter li span {
    color: #777;
    display: block;
    font-size: smaller;
    padding-top: 1rem;
}

.filter li:hover {
    color: #444;
    background: #f7f7f7;
    cursor: pointer;
}

.info-box-content.header {
    font-weight: bold;
}
.info-box-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.info-box-content .sq {
    flex: 2 1 33%;
}

.btn.disabled.cert-price-btn {
    opacity: 1;
}